<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Julia.erb</title>
</head>
<body>
  <div style="display: grid; grid-template-columns: repeat(<%= width %>, 1px); grid-template-rows: repeat(<%= height %>, 1px);">
    <% (0...height).each do |y| %>
      <% (0...width).each do |x| %>
        <% zx = x_min + (x_max - x_min) * x / width %>
        
        <div style="background-color: rgb(<%= color.join(',') %>);"></div>
      <% end %>
    <% end %>
  </div>
</body>
</html>
